<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
        <H1>Submit Facts</H1>
        <div class="callout">
            Submit your new animal facts here!
        </div>
        <div class="facts-container">
            <form>
                <label for="submitter"><H2>Name</H2></label>
                <input name="submitter" type="text">
                <br/>
                <label for="fact"><H2>Fact</H2></label>
                <textarea name="fact"></textarea>
                <br/>
                <input type="submit" value="Submit the Fact">
            </form>
        </div>
    </body>
</html>